<div class="navbar d-flex navbar-expand-sm navbar-light">
  <div class="nav-content">
    <div class="nav-left col-8">
      <%= link_to "#", class: "navbar-brand d-flex gap-2" do %>
      <%= image_tag "logo-small.svg", class: "logo", alt: "book your sport logo" %>
      <%= image_tag "logo-large.svg", class: "logo", alt: "book your sport logo" %>
      <% end %>
    </div>
    <div class="nav-right gap-3 col-4">
      <li class="nav-item dropdown-menu-right">
        <i class="fas fa-bars fa-2xl nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu w-50 justify-content-end dropdown-menu">
          <li><a class="dropdown-item" href="#">See all venues</a></li>
          <li><a class="dropdown-item" href="#">See friends</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
        </ul>
      </li>
      <i class="fa-regular fa-2xl fa-user"></i>
    </div>
  </div>
</div>
