 <div class="overlay d-none" data-controller= "filters popup" data-popup-target="overlay">
      <div class="popup-content">
        <i class="fa-solid fa-xmark close-btn" data-action="click->popup#toggle"></i>
        <h1>Filters</h1>

        <h5 class="lato-header">Sports</h5>

          <form id="filter-form">
            <div class="filter-form-group">
              <% @sports_categories.each do |sport| %>
                <input type="checkbox" id="sport_<%= sport %>" class="form-check-input venue-checkbox" name="sports[]" value="<%= sport %>"
                data-filters-target="sportFilterElement">
                <label for="sport_<%= sport %>"
                class="form-check-label">
                <%= sport %></label><br>
              <% end %>
            </div>
          </form>

          <button type="button" data-action= "submit->filters#filterResults" class="btn btn-primary mt-3" >Filter</button>

        </div>
      </div>
    </div>
