 <ul class="dropdown-menu mt-2">
  <div class="stars">
    <li>
      <a class="dropdown-item one-star d-flex" href="#">1.0
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </a>
    </li>
    <li>
      <a class="dropdown-item two-star d-flex" href="#">2.0
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </a>
    </li>
    <li>
      <a class="dropdown-item three-star d-flex" href="#">3.0
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </a>
    </li>
    <li>
      <a class="dropdown-item four-star d-flex" href="#">4.0
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </a>
    </li>
    <li>
      <a class="dropdown-item five-star d-flex" href="#">5.0
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </a>
    </li>
  </div>
</ul>

</div>
