
.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #163916;
  margin:20px;
  width:100%;
}

.btn-area {
margin-top:20px;
margin-bottom:20px;
}

 a {
text-decoration: none;
}
