
.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #163916;
  margin:20px;
  width:100%;
}



.btn-area {
margin-top:20px;
margin-bottom:20px;
}

 a {
text-decoration: none;
}


.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 12px;
  font-weight: bold;
  background: #163916;
  width:100%;
}

.btn-secondary {
  color: #163916;
  padding: 8px 24px;
  border-radius: 12px;
  border: 1px solid #163916;
  font-weight: bold;
  background: #ffffff;
  width:100%;
}

.btn-third {
  color: white;
  padding: 8px 24px;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: bold;
  background: transparent;
  width:100%;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23091709' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.btn-green-register {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #163916;
  margin:20px;
  width:90%;
  display: inline-block;
  text-align: center;
}
