.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapbox-container {
height:300px;
background-color: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
border-radius:12px;
margin-bottom:30px;

}

.mapboxgl-canvas {
  border-radius:12px 12px 0px 0px;
}

.mapbox-copy p {
  font-size:20px;
  margin-top:20px;
  margin-left:20px;
  color:grey;
}
