.navbar li {
color:white;
}

.login-button {
color:#00C620;
border: white;

}


.dropdown-menu a {
  color: black;
  padding-left:10px;
}


.navbar .fas, .fa-solid {
  font-weight: 900;
  color: white;
}

.nav-content {
  justify-content: space-between;
  display: flex;
  width:100%;
}

.nav-item {
  list-style: none;
}

.dropdown-toggle::after {
  display:none;
}

.nav-link {
  color:white;
}



.nav-content {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.nav-item {
  list-style: none;
}

.dropdown-toggle::after {
  display: none;
}

.nav-link {
  color: white;
  padding: 8px 16px;
}

.sidenav-welcome {
  text-decoration: none;
  font-size: 26px;
  line-height: auto;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav {
  height: 100%;
  width: 0;
  color: white;
  top: 0;
  right: 0;
  background-color: #163916;
  position: fixed;
  z-index: 999;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.sidenav-content {
  padding: 8px 32px;
}

.sidenav .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  cursor: pointer;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav-welcome .avatar {
  margin-right: 10px;
  margin-left:10px;
}



.navbar {
  --bs-navbar-padding-y:0;
  --bs-navbar-padding-x:0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */

}

.nav {
  display:flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo {
height:40px;
}

.dropdown-item {
color:black;
}


.navbar-toggler-icon {
color:white;
}
.navbar-toggler {
display:flex;
align-self: center;
color:white;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  right: 0;
  left: auto;
}


.dropdown-menu .show {
background-color:#00C620;
color:black;
}


.dropdown-menu[data-bs-popper] {
  right: 0;
}


.dropdown-menu {
  top: 100%;
  right: 0;

}


.nav-left {
  background-color: white;
  padding-left: 27.5px;
  padding-top: 10px;
  padding-bottom:10px;
}


.nav-right {
  background-color: #163916;
  display:flex;
  align-items: center;
  justify-content: end;
  padding-right:40.5px;
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.062);


}

.dropdown-menu {
  z-index: 1000;

}


.logo-container {
  display: flex;
  align-items: center;
}

.logo-nav {
  height: 50px; /* Adjust height as needed */
  margin-right: 10px;
}
